<!-- In this page we are sending the cooker a message telling him
	about the client's order details (time, cookName and quantity). -->
<!-- We don't really care about the date because it will be sent the next day always. -->
	<!-- <style>
		.info {
			background-color: #e7f3fe;
			border-left: 30px solid #2196F3;
		}
	</style> -->
	 <style>
    .none {
      background-color: #e7f3fe;
      border-left: 30px solid #2196F3;
    }
    .yes{
      background-color: #e7f3fe;
      border-left: 30px solid #096d27;
    }
    .no {
      background-color: #e7f3fe;
      border-left: 30px solid #b21813;
    }
    .ifo{
      background-color: #e7f3fe;
      border-left: 10px solid #2196F3;
      border-right: 10px solid #2196F3;
      border-bottom: 10px solid #2196F3;
      border-top: 10px solid #2196F3;

    }
  </style>



	<div class="container" ng-controller="ProfileController" ng-init="getOrders()">
		<br><br><br><br>

		<h2><center><strong>You Have New Order</strong></center></h2>
		<div  ng-repeat="order in orders"><br>
		<div ng-class="myVar" >
		<div class="ifo" >
			<h2><strong><center>Order Details</center></strong></h2>

			<ul style="font-size:18px">	


				<li><strong>Client Name:</strong>
					<dd>- {{ order.CLientFullName }}</dd>
				</li>
				<li><strong>Cook Name:</strong>
					<dd>- {{ order.Name }}</dd>
				</li>
				<br>
				<li><strong>Amount:</strong>
				<dd>- {{ order.Quantity }}</dd>
				</li>
				
				<li><strong>The Client Will Receive The Order AT :</strong>
					<dd>- {{ order.DeliveryDate }}    - at {{order.DeliverTime}}</dd>
				</li>
				<br>
			    <li><strong><p style=" font-size: 25px;">Do You Agree This Order</p>
	        	<input  id="yesbtn" type="submit" value="yes" ng-click="myVar='yes';acceptOrder(order.OrderID)"
	        	ng-model="order.approved">
				<input id="nobtn" type="submit" value="no" ng-click="myVar='no';dos();cancelOrder(order.OrderID)"
				ng-model="order.approved">
				
				</li>
				<br>
			</ul><br>

		</div>
		</div>
		</div>

	
</div>
