  <style>
  .modal-header, h4, .close {
      background-color: #5cb85c;
      color:white !important;
      text-align: center;
      font-size: 30px;
      }
  .modal-footer {
      background-color: #f9f9f9;
  }
  </style>



 
<script>
$(document).ready(function(){
    $("#myBtn").click(function(){
        $("#myModal").modal();
    });
});
</script>



<div class="container" ng-controller="userProfileController" ng-init="getProfile();getAllCookers()">
<div class="row" style="
background: url('assets/inside-bg.jpg');
background-position: top;
min-height: 500px;
z-index: 2;
padding-top: 100px;
">


<div class="row" style="padding-bottom: 50px;margin:0px;"><div class="col-md-10 col-md-offset-1 text-center">

  <div class="col-md-4 col-xs-12" style="color: #fff;margin-top: 20px;">

  <img ng-if="data.ImgUrl === null" src="/assets/chef.png" class="img-responsive thumbnail" style="margin: auto;">
  <img ng-if="data.ImgUrl !== null" src="/{{ data.ImgUrl }}" class="img-responsive thumbnail" style="margin: auto;">

</div>

<div class="col-md-8 col-xs-12" style="color: #fff;margin-top: 20px;">

  <h1 style="font-weight: bold;color: #fff;text-align: left;margin-bottom: 40px;">
  {{ data.FullName }}</h1>

  <div class="col-md-6 col-xs-12">
    <i class="glyphicon glyphicon-phone" style="font-size: 3em;"></i>
    <p style="line-height: 40px;font-size: 15pt;">
    {{ data.PhoneNumber }}
    </p>
  </div>

  <div class="col-md-6 col-xs-12">
    <i class="glyphicon glyphicon-envelope" style="font-size: 3em;"></i>
    <p style="line-height: 40px;font-size: 15pt;">{{ data.Email }}</p>
  </div>
</div>


<!-- 
      S
        P   E
                c ial

 -->

<div class="col-md-6 col-xs-12"  >
  <!-- <h2>Want a Special Dish</h2> -->
  <h1 style="font-weight: bold;color: #fff;text-align: left;margin-bottom: 40px;">
  Want a Special Dish</h1>

  <!-- Trigger the modal with a button -->
  <button  type="button" class="btn btn-default btn-lg" id="myBtn">Let's Order</button>

  <!-- Modal -->
  <div ng-controller="userProfileController"
             class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->

      <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4><span class="glyphicon glyphicon-fire"></span> Special Order</h4>
        </div>
        <!-- here to put the ng -->
        <div class="modal-body" style="padding:40px 50px;">
          <form role="form">
            <div class="form-group" >
              <label for="DIshName"><span class="glyphicon glyphicon-user"></span> Name of The Dish</label>
              <input type="text" class="form-control" ng-model="Sorder.DishName" placeholder="Enter Name of The Dish">
            </div>




            <div class="form-group" ng-controller="userProfileController">
              <label for="DIshName"><span class="glyphicon glyphicon-user"></span> Select Cook</label>
               <select ng-options="item for item in {{cookerName}}" class="form-control" name="singleSelect" ng-model="Sorder.cookerName" required>
                </select>
            </div>

          
             <div class="form-group" >
              <label for="DIshName"> Number of Meals</label>
              <input type="text" class="form-control" ng-model="Sorder.quantity" placeholder="Quantity">
            </div>

             <div class="form-group" >
              <label for="DIshName"> Delivery Time</label>
              <input type="text" class="form-control" ng-model="Sorder.deliveryTime" placeholder="ex : 4:00">
            </div>

              <button ng-click="SpecialOrder(Sorder)" type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Send Order</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
        </div>
      </div>
      
    </div>
  </div> 
</div>
<!-- <div class="col-xs-12" style="margin-top: 50px;" ng-if="data.todayCook !== ''">  
  <span style="padding: 20px;font-size: 1.7em;color: #fff;"><b>{{ data.FullName }}</b> cooking for today is : <b>{{ data.todayCook.Name }}</b>, just for 
  <b>{{ data.todayCook.Price }}</b> JOD!</span>
  <button ng-click="setOrder($root.UserID, data.todayCook.ID, 1, data.todayCook.FullName, data.todayCook.Name)" class="btn btn-lg btn-primary">Order now</button>
</div> -->

</div>
</div>
</div>
</div>


   <style>
    .none {
      background-color: #e7f3fe;
      border-left: 30px solid #2196F3;
    }
    .yes{
      background-color: #e7f3fe;
      border-left: 30px solid #096d27;
    }
    .no {
      background-color: #e7f3fe;
      border-left: 30px solid #b21813;
    }
    .ifo{
      background-color: #e7f3fe;
      border-left: 10px solid #2196F3;
      border-right: 10px solid #2196F3;
      border-bottom: 10px solid #2196F3;
      border-top: 10px solid #2196F3;

    }
  </style>



 <div class="container"  ng-init="getOrders()" >
    <br><br><br><br>

    <h2><center><strong>You Have New Order</strong></center></h2>
    <div  ng-repeat="order in orders"><br>
    <div ng-class="myVar" >
    <div class="ifo" >
      <h2><strong><center>Order Details</center></strong></h2>

      <ul style="font-size:18px"> 


        <li><strong>Client Name:</strong>
          <dd>- {{ order.CLientFullName }}</dd>
        </li>
        <li><strong>Cook Name:</strong>
          <dd>- {{ order.Name }}</dd>
        </li>
        <br>
        <li><strong>Amount:</strong>
        <dd>- {{ order.Quantity }}</dd>
        </li>
        
        <li><strong>You Will Receive The Order AT :</strong>
          <dd>- {{ order.DeliveryDate }}    - at {{order.DeliverTime}}</dd>
        </li>
        <br>
        <li><strong><p style=" font-size: 25px;">{{order.approved}}</p>
          


        

        <input ng-if="order.approved !== 'your order accepted'" id="nobtn" type="submit" value="Cancel-Order" ng-click="myVar='no';DeleteOrder(order.OrderID)"
        ng-model="order.approved">
        
        </li>
        <br>
      </ul><br>

  <!--   <center><strong>
      <p style=" font-size: 25px;"> I Can Handle It <input type="checkbox" ng-model = "accept" ng-init = "false">
      </p>
    </strong>
  </center>
  <div ng-if="accept">
    <center>
      <h3><strong>Okay, Let's Start Cooking...<span class="glyphicon glyphicon-cutlery"></strong></h3>    
    </center>
  </div> -->
</div>

<!-- <div class="row" style="margin-top: 40px;">

<div   class="col-md-10 col-md-offset-1 col-xs-12">


  <div class="panel panel-default">
    <div class="panel-heading"><b>{{ data.FullName }}</b> schedule</div>

    <table  class="table">
      <tbody>
      <tr style="font-weight: bold;">
        <td>Day</td>
        <td ng-repeat="cook in data.schedule">{{ cook.DayName }}</td>
      </tr>
      <tr>
        <td style="font-weight: bold;">Cooking</td>
        <td ng-repeat="cook in data.schedule">{{ cook.CookeName }}</td>
      </tr>
    </tbody></table>
  </div>
</div>
</div>
<div class="row">
  <div class="page-header text-center">
    <h1>User reviews <small> for {{ data.FullName }}</small></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1 col-xs-12">

    <div class="col-md-6 col-xs-12" ng-repeat="comment in data.comments">
      <div class="panel panel-default">
        <div class="panel-body">{{ comment.ComBody }}</div>
        <div class="panel-footer">{{ comment.InsertedUserFullName }}</div>
      </div>
    </div>

  </div>
  </div>
   -->