<div id="orders" ng-model="order" ng-controller="NewOrderController" >
	<h2><center><strong>Your Order Goes Here</strong></center></h2>
	<h3><strong>When do you want to receive your order?!</strong></h3>
	<form name="timeForm" ng-submit="">
		<div>
			<label for="time">Which hour?</label>
			<input type='text' placeholder="time">
		</div>
		<br>
		<div class = "btn-group" ng-submit="">
			<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Choose Cook Name
				<span class="caret"></span>
			</button>
				<ul class="dropdown-menu">
					<li ng-repeat="cooking in data.cookings ">{{cooking.title}}</li>
				</ul>
		</div>
		<div class = "btn-group" ng-submit="">
			<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Choose The Cooker
				<span class="caret"></span>
			</button>
				<ul class="dropdown-menu">
					<li ng-repeat="cooker in data.cookers">{{cooker.username}}</li>
				</ul>
		</div>
		<input type="submit" class="btn btn-info" value="Submit" ng-click="submit()">
	</form>
<!-- 	<input type="text" name="" ng-model="user.cookName">enter your koof
	<button type="submit" ng-click="submit"> -->
	</div>
</body>
</html>