<div id="signup" class="container">
  <br><br><br>
  <h1><strong>Signup</strong></h1>
  <form ng-submit="signup()">
    <div class="form-group">
      <label for="user">Full Name:</label>
      <input ng-model="user.FullName" 
      type="text" class="form-control" placeholder="your first and last name">
    </div>
    <div class="form-group">
      <label for="user">User Name:</label>
      <input ng-model="user.UserName" 
      type="text" class="form-control" placeholder="your name">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input ng-model="user.Password" 
      type="password" class="form-control" placeholder="your assword">
    </div>
    <div class="form-group">
      <label for = "phone">Phone Number:</label>
      <input ng-model="user.PhoneNumber" 
      type="Number" class="form-control" placeholder="your number">
    </div>
    <div class="form-group">
      <label for="user">Email address:</label>
      <input ng-model="user.Email" 
      type="text" class="form-control" placeholder="your email">
    </div>
    <div class="form-group">
      <label for="user">Address:</label>
      <input ng-model="user.Address" 
      type="text" class="form-control" placeholder="your address">
    </div>
    Are You Cooker ?! <input type="checkbox" ng-model="myCooker"> Yub, I am Cooker
    <input type="checkbox"> Nope, I am Just a User
    <br><br>
    <div ng-show="myCooker">
    <h3 ><strong>Insert Your Schedule</strong></h3>
    <ul><li></li></ul>
    <ul>
      <li ng-repeat="cooking in data.cookings">{{cooking.title}}</li>
    </ul>
    </div>
    <input type="submit" class="btn btn-info" value="Submit">
  </form>
  <br>
  <h4><strong>Do you have account already?</strong></h4>
  <a href="#/signin">
    <input type="submit" class="btn btn-danger" value="Signin">
  </a>
</div>